---
import Layout from "@layouts/Layout.astro";
import Section from "@components/Section.astro";
import Button from "@components/Button.astro";
import Navbar from "@components/Navbar.astro";
import { Sprite } from "astro-icon";
---

<Sprite.Provider>
  <Layout title="Dom Agência">
    <Navbar />
    <main class="">
      <Section as="header" noised variant="purple" class="lg:grid lg:gap-x-6 gap-y-2 lg:gap-y-4 lg:grid-cols-2  lg:py-32  lg:grid-rows-[repeat(3,_minmax(min-content,_max-content))_1fr]">
        <h1
          class="lg:col-start-1 text-gray-50 text-3xl lg:text-5xl font-bold leading-10 text-center lg:text-left "
        >
          Transforme visitantes em clientes!
        </h1>
        <p
          class="lg:col-start-1 text-purple-50 text-center lg:text-left lg:max-w-[40ch]"
        >
          Domine seu mercado com a força da <strong
            >Landing Page de alta conversão</strong
          >.
        </p>
        <div
          class="w-full bg-white/20 rounded-lg lg:col-start-2 lg:row-start-1 aspect-video my-6 lg:my-0 lg:row-end-5"
        >
        </div>
        <Button
          variant="secondary"
          class="lg:col-start-1 self-center lg:self-start max-w-fit"
        >
          <span> Estou Interessado!</span>
          <Sprite name="ic:baseline-whatsapp" class="w-5 h-5" />
        </Button>
      </Section>
      <!-- <Button>
        <span> Estou Interessado!</span>
        <Sprite name="ic:baseline-whatsapp" class="w-5 h-5" />
      </Button>
      <Button variant="secondary">
        <span> Estou Interessado!</span>
        <Sprite name="ic:baseline-whatsapp" class="w-5 h-5" />
      </Button>
      <Button variant="secondary" outlined>
        <span> Fale conosco!</span>
        <Sprite name="ic:baseline-whatsapp" class="w-5 h-5" />
      </Button> -->
    </main>
  </Layout>
</Sprite.Provider>

<style></style>
