---
import Layout from "@layouts/Layout.astro";
import Section from "@components/Section.astro";
import Button from "@components/Button.astro";
import Navbar from "@components/Navbar.astro";
import { Sprite } from "astro-icon";
---

<Sprite.Provider>
  <Layout title="Dom Agência">
    <Navbar />
    <main class="">
      <Section as="header" noised variant="purple" class="pt-12 pb-[calc(4rem_+_50px)] lg:grid lg:gap-x-6 gap-y-2 lg:gap-y-4 lg:grid-cols-2  lg:pt-32 lg:pb-[calc(8rem_+_100px)]  lg:grid-rows-[repeat(3,_minmax(min-content,_max-content))_1fr]">
        <h1
          class="lg:col-start-1 text-gray-50 text-3xl lg:text-5xl font-bold leading-10 text-center lg:text-left "
        >
          Transforme visitantes em clientes!
        </h1>
        <p
          class="lg:col-start-1 text-purple-50 text-center lg:text-left lg:max-w-[40ch]"
        >
          Domine seu mercado com a força da <strong
            >Landing Page de alta conversão</strong
          >.
        </p>
        <div
          class="w-full bg-white/20 rounded-lg lg:col-start-2 lg:row-start-1 aspect-video my-6 lg:my-0 lg:row-end-5"
        >
        </div>
        <Button
          variant="secondary"
          class="lg:col-start-1 self-center lg:self-start max-w-fit"
        >
          <span> Estou Interessado!</span>
          <Sprite name="ic:baseline-whatsapp" class="w-5 h-5" />
        </Button>
        <div class=" absolute bottom-0 left-0 w-full overflow-hidden leading-[0] rotate-180" slot="wave">
          <svg xmlns="http://www.w3.org/2000/svg" class=" relative block w-[calc(200%_+_1.3px)] h-[50px] lg:w-[calc(150%_+_1.3px)] lg:h-[100px] text-white" viewBox="0 0 1200 120" preserveAspectRatio="none">
              <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" fill="currentColor"></path>
          </svg>
        </div>
      </Section>
    </main>
  </Layout>
</Sprite.Provider>
