---
const { as = "div", class: className, upperClass } = Astro.props;
const SectionTag = as;
const hasExtraSlot = Astro.slots.has("extra");
const classList = [
  "container relative mx-auto p-4 flex flex-col justify-center lg:grid lg:gap-x-6 gap-y-2 lg:gap-y-4 lg:grid-cols-2 pt-12 pb-16 lg:py-32 lg:grid-rows-3 lg:grid-auto-rows",
  { extra: hasExtraSlot },
  className,
];
---
<SectionTag class:list={upperClass} class="pt-[74px] bg-blend-multiply bg-purple-500 before:bg-noise before:bg-[length:50%] before:bg-repeat before:opacity-[0.04] relative before:content-[\'_\'] before:absolute before:top-0 before:left-0 before:right-0 before:bottom-0 before:mix-blend-multiply">
  <div class:list={classList} >
    <slot />
    <slot name="extra" />
  </div>
</SectionTag>
